.register-card {
    margin-top: 50px;
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin-right: 5px;
    line-height: 42px;
}

.form-wrapper {
    margin-bottom: 20px;
}
.form-wrapper form {
    display: inline-block;
}