@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

a {
    color: darkblue;
}

/*------------------------------------------------------- Pages */


/* Home page */

.title-wrapper {
    font-family: 'Rubik', sans-serif;
    margin-top: 30px
}
.card-home {
    box-shadow: 0 0 0 0;
}

.card-home .collection a {
    color: darkblue;
}
/* Teams page */

.team-card {
    margin-bottom: 50px;
}

.team-card .collection a {
    color: darkblue;
}

.icon-footer {
    display: flex;
    justify-content: space-around;
}
/*------------------------------------------------------- Objects */

/* Cards */
.register-card {
    margin-top: 50px;
}

.flashes h4 {
    line-height: 2;
}
/* Buttons */
.btn-small {
    margin: 5px;
}

/* Collapsibles */
.collapsible-header .col strong {
    margin-right: 5px;
    line-height: 42px;
}

/* Form Objects */
.form-wrapper {
    margin-bottom: 20px;
}
.form-wrapper form {
    display: inline;
}

.form-wrapper-modal {
    margin-top: 30px
}


.team-description {
    margin-bottom: 20px;
}

/* Helpers */
.page-tag {
    margin-bottom: 50px;
}

