
.register-card {
    margin-top: 50px;
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin-right: 5px;
    line-height: 42px;
}

.form-wrapper {
    margin-bottom: 20px;
}
.form-wrapper form {
    display: inline;
}

.form-wrapper-modal {
    margin-top: 30px
}
/* Home page */

.title-wrapper {
    margin-top: 30px
}
.card-home {
    box-shadow: 0 0 0 0;
}
/* Teams page */

.team-card {
    margin-bottom: 50px;
}

.team-description {
    margin-bottom: 20px;
}

/* Helpers */
.page-tag {
    margin-bottom: 50px;
}

