{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Training Cycle </h3>

      <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_cycle', training_id=training._id) }}">
            <!-- team name -->
            <div class="input-field col s12">
                <i class="fas fa-shield-alt prefix"></i>
                <select id="training_team" name="training_team" class="validate">
                    <option value="" disabled selected>{{ training.team_name }}</option>
                </select>
                <label for="training_team">Team</label>
            </div>
            <!-- training name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <select id="training_name" name="training_name" class="validate">
                        <option value="" disabled selected>{{ training.training_name }}</option>
                    </select>
                    <label for="training_name">Training Name</label>
                </div>
                <!-- training link -->
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix"></i>
                    <textarea id="training_link" name="training_link" 
                        maxlength="50" minlength="5" type="text" class="materialize-textarea validate" required></textarea>
                    <label for="training_link">Training Link</label>
                    <span class="helper-text" data-error="Please provide this Cycle a link for the session!"></span>
                </div>
                <!-- due date -->
                <div class="input-field col s12">
                    <i class="fas fa-calendar alt prefix"></i>
                    <input id="due_date" name="due_date" type="text" class="datepicker validate" required>
                    <label for="due_date">Due date</label>
                    <span class="helper-text" data-error="Give this Cycle a due date!"></span>
                </div>
                <!-- cycle type -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-clipboard-list prefix"></i>
                        <select id="training_type" name="training_type" class="validate" required>
                            <option value="" disabled selected>Cycle type</option>
                                {% for training_type in training_types %}
                                    <option value="{{ training_type.training_type }}">{{ training_type.training_type }}</option>
                                {% endfor %}
                        </select>
                        <label for="training_type">Cycle type</label>
                    </div>
                </div>
                <!-- instructor -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-clipboard prefix"></i>
                        <select id="instructor_name" name="instructor_name" class="validate" required>
                            <option value="" disabled selected>Choose instructor</option>
                            {% for instructor in instructors %}
                                <option value="{{ instructor.alias }}">{{ instructor.alias }}</option>
                            {% endfor %}
                        </select>
                        <label for="instructor_name">Instructor</label>
                    </div>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('get_trainings') }}" class="waves-effect waves-light red btn">
                        Cancel <i class="fas fa-exclamation-circle"></i>
                    </a>
                    <button class="btn waves-effect waves-light  green accent-3" type="submit">Submit
                        <i class="fas fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </form>
  </div>
        

{% endblock %}