{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Create Training</h3>

      <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_training') }}">
            <!-- team name -->
            <div class="input-field col s12">
                <i class="fas fa-shield-alt prefix"></i>
                <select id="training_team" name="training_team" class="validate" required>
                    {% if username.admin == True %}
                        <option value="" disabled selected>Choose team</option>
                        {% for team in teams %}
                            <option value="{{ team.team_name }}">{{ team.team_name }}</option>
                        {% endfor %}
                    {% else %}
                        <option value="{{ username.team_name }}" disabled selected>{{ username.team_name }}</option>
                    {% endif %}
                </select>
                <label for="training_type">Training type</label>
            </div>
            <!-- training name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <input id="training_name" name="training_name" 
                    maxlength="25" minlength="5" type="text" class="validate" required>
                    <label for="training_name">Training Name</label>
                    <span class="helper-text" data-error="Training Names must have at least 5 characters!"></span>
                </div>
                <!-- training description -->
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix"></i>
                    <textarea id="training_description" name="training_description" 
                        maxlength="50" minlength="5" type="text" class="materialize-textarea validate" required></textarea>
                    <label for="training_description">Training Description</label>
                    <span class="helper-text" data-error="Give this training a description!"></span>
                </div>
                <!-- due date -->
                <div class="input-field col s12">
                    <i class="fas fa-calendar alt prefix"></i>
                    <input id="due_date" name="due_date" type="text" class="datepicker validate" required>
                    <label for="due_date">Due date</label>
                    <span class="helper-text" data-error="Give this training a due date!"></span>
                </div>
                <!-- assign to -->
                <div class="input-field col s12">
                    <i class="fas fa-user-graduate prefix"></i>
                    <select id="assign_to" name="assign_to" class="validate" multiple>
                        {% for student in students %}
                                <option value="{{ student.alias }}">
                                    {{ student.alias }}
                                </option>
                        {% endfor %}
                    </select>
                    <label for="assign_to">Assign training to:</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('get_trainings') }}" class="waves-effect waves-light red btn">
                        Cancel <i class="fas fa-exclamation-circle"></i>
                    </a>
                    <button class="btn waves-effect waves-light  green accent-3" type="submit">Submit
                        <i class="fas fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </form>
  </div>
        

{% endblock %}