{% extends "base.html" %}
{% block content %}


    <div class="row register-card">
        <div class="center-align">
            <a id="helper_button" href="#helper_modal" class="btn-floating blue btn-large modal-trigger pulse tooltipped" data-position="top" data-tooltip="First time here? Click the button for information"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-content blue-grey darken-4">
                    <div class="yellow-text blue-grey darken-4 center-align">
                        {% if username.student == True %}
                            <i class="fas fa-user fa-2x yellow-text"></i>
                            <h3>
                                {{ username.alias }}
                            </h3>
                        {% elif username.team_leader == True %}
                            <i class="fas fa-user-secret fa-2x yellow-text"></i>
                            <h3>
                                {{ username.alias }}
                            </h3>
                        {% elif username.instructor == True %}
                            <i class="fas fa-chalkboard-teacher fa-2x yellow-text"></i>
                            <h3>
                                {{ username.alias }}
                            </h3>
                        {% else %}
                            <i class="fas fa-user-tie fa-2x yellow-text"></i>
                            <h3>
                                {{ username.alias }}
                            </h3>
                        {% endif %}
                    </div>
                    <ul class="collection black-text center-align">
                        <li class="collection-item">
                            <b>Username</b>: {{ username.username }}<i class="fas fa-user fa-lg secondary-content black-text"></i>
                        </li>
                        <li class="collection-item">
                            <b>Team: </b>{{ username.team_name }}<i class="fas fas fa-shield-alt secondary-content black-text"></i>
                        </li>
                        {% if username.student == True %}
                            <li class="collection-item"><b>Access level: </b> Student<i class="fas fa-key fa-lg secondary-content black-text"></i></li>
                        {% elif username.team_leader == True %}
                            <li class="collection-item"><b>Access level: </b> Team Leader<i class="fas fa-key fa-lg secondary-content black-text"></i></li>
                        {% elif username.instructor == True %}
                            <li class="collection-item"><b>Access level: </b> Instructor<i class="fas fa-key fa-lg secondary-content black-text"></i></li>
                        {% else %}
                            <li class="collection-item"><b>Access level: </b> System Admin<i class="fas fa-key fa-lg secondary-content black-text"></i></li>
                        {% endif %}
                    </ul>
                </div>
                <!-- Profile card control panel -->
                <div class="card-action blue-grey darken-4 center-align">
                    {% if username.student == True %}
                        <button data-target="modal_certifications" 
                            class="btn waves-effect green darken-1 waves-light btn tooltipped modal-trigger"
                            data-position="top" data-tooltip="See certifications">
                                <i class="fas fa-user-graduate"></i>
                        </button>
                    {% endif %}
                    {% if access.admin == True %}
                        <button data-target="modal_access" 
                        class="btn waves-effect yellow darken-3 waves-light btn tooltipped modal-trigger"
                        data-position="top" data-tooltip="Change access level">
                            <i class="fas fa-key"></i>
                        </button>
                    {% endif %}
                    <!-- Access modal -->
                    <div id="modal_access" class="modal">
                        <div class="form-wrapper-modal">
                            <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('edit_access', username=session['user'], alias=username.alias) }}">
                                <div class="input-field col s12">
                                    <select id="access" name="access" class="browser-default">
                                        <option value="student">
                                            Student
                                        </option>
                                        <option value="team_leader">
                                            Team Leader
                                        </option>
                                        <option value="instructor">
                                            Instructor
                                        </option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col s12 center-align">
                                        <button class="btn waves-effect waves-light green" type="submit">OK
                                            <i class="fas fa-check-circle"></i>
                                        </button>
                                        <a href="#"
                                        class="modal-close waves-effect red waves-light btn">
                                        Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Certification modal -->
                    <div id="modal_certifications" class="modal">
                        <div class="modal-content">
                            <h4>{{ username.alias }}'s Certifications
                                <i class="fas fa-graduation-cap"></i>
                            </h4>
                            <div class="row">
                                <div class="col s12 m6 offset-m3">
                                    <div class="collection">
                                        {% for training in username.trainings %}
                                            <ul class="collection with-header">
                                                <li class="collection-header">
                                                    <b>{{ training }}</b>
                                                </li>
                                                {% for cycle in username.trainings[training] %}
                                                    {% if username.trainings[training][cycle].completed == True %}
                                                        <li class="collection-item">
                                                            <div>
                                                                <strong>{{ cycle }}</strong><i class="fas fa-certificate fa-lg secondary-content"></i>
                                                            </div>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col s12 center-align">
                                    <a href="#!" class="modal-close waves-effect green waves-light btn">OK</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="helper_modal" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h4 class="center-align">How to use it</h4>
                            <p>
                                We understand that it can be daunting to start using an app for the first time, but worry not: We're here to help!
                                Team Tracker is built around buttons that perform an action once you click them. Below, there's a list with each button in the system and what they do.
                                You can start by clicking the <b>"Teams"</b> link on the Menu to get to know your team, or you can go straight to <b>"Trainings"</b> to check upcoming courses. Conversely, beneath your profile card, you'll see the Trainings you've been enrolled - if there aren't any courses, it means you haven't been enrolled!
                            </p>
                            <table class="centered">
                                <thead>
                                  <tr>
                                      <th>Button</th>
                                      <th>Function</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a class="waves-effect green waves-light btn-small"><i class="fas fa-plus-circle prefix"></i></a>
                                        </td>
                                        <td>Add Team/Training</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="waves-effect green waves-light btn-small"><i class="fas fa-plus-square"></i></a>
                                        </td>
                                        <td>Add Cycle</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="waves-effect yellow darken-4 waves-light btn-small"><i class="fas fa-user-edit"></i></a>
                                        </td>
                                        <td>Enroll Students</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="waves-effect deep-purple lighten-2 waves-light btn-small"><i class="fas fa-clipboard-list"></i></a>
                                        </td>
                                        <td>Get Student list</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="waves-effect yellow darken-2 waves-light btn-small"><i class="fas fa-info-circle"></i></a>
                                        </td>
                                        <td>Get training description</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="waves-effect blue waves-light btn-small"><i class="fas fa-pen-square"></i></a>
                                        </td>
                                        <td>Edit Training/Cycle</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="waves-effect red waves-light btn-small"><i class="fas fa-minus-circle"></i></a>
                                        </td>
                                        <td>Delete Training/Cycle</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="waves-effect green waves-light btn-small"><i class="fas fa-check-circle"></i></a>
                                        </td>
                                        <td>Mark as Complete Training/Cycle</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="waves-effect yellow darken-3 waves-light btn-small"><i class="fas fa-times-circle"></i></a>
                                        </td>
                                        <td>Mark as Incomplete Training/Cycle</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="waves-effect yellow darken-3 waves-light btn-small"><i class="fas fa-key"></i></a>
                                        </td>
                                        <td>Change access level</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="waves-effect green waves-light btn-small"><i class="fas fa-user-graduate"></i></a>
                                        </td>
                                        <td>See Student's certifications</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <div class="center-align">
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat black-text">Agree</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row register-card">
        {% if username.trainings %}
            {% for training in username.trainings %}
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header yellow-text blue-grey darken-4">
                            <div class="col s12">
                                <i class="fas fa-caret-down"></i>
                                <strong>  {{ training }}: </strong>
                                {% for course in courses %}
                                    {% if training in course.training_name %}
                                         {{ course.training_date }}
                                        {% if course.complete_training == False %}
                                            <i class="fas fa-times-circle red-text"></i>
                                            <span class="red-text"><strong>In Progress</strong></span>
                                        {% else %}
                                            <i class="fas fa-check-circle green-text"></i>
                                            <span class="green-text"><strong>Completed</strong></span>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% if username.trainings[training] %}
                            {% for cycle in username.trainings[training] %}
                            <div class="collapsible-body">
                                <div class="row center-align">
                                    <div class="col s12 m6 offset-m3">
                                        <div class="card">
                                            <div class="card-content blue-grey darken-4">
                                                <div class="yellow-text blue-grey darken-4">
                                                    <h5>
                                                        {{ cycle }}
                                                    </h5>
                                                </div>
                                                <ul class="collection black-text">
                                                    <li class="collection-item">
                                                        <b>Instructor:</b>
                                                        <a href="{{ url_for('profile', username=session['user'], alias=username.trainings[training][cycle].instructor) }}">
                                                            {{ username.trainings[training][cycle].instructor }}
                                                        </a>
                                                    </li>
                                                    <li class="collection-item"><b>Date:</b> {{ username.trainings[training][cycle].training_date }}</li>
                                                    <li class="collection-item"><b>Link:</b> {{ username.trainings[training][cycle].training_link }}</li>
                                                    {% if username.trainings[training][cycle].completed == True %}
                                                        <li class="collection-item green-text"><b>Completed</b></li>
                                                    {% else %}
                                                        <li class="collection-item red-text"><b>In Progress</b></li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <div class="collapsible-body center-align">
                                <i class="fas fa-paper-plane fa-2x"></i>
                                <h5>No cycle information yet!</h5>
                            </div>
                        {% endif %}
                    </li>
                </ul>
            {% endfor %}
        {% endif %}
    </div>
    
{% endblock %}
