{% extends "base.html" %}
{% block content %}
    <div class="row register-card">
        {% if username.admin == True %}
            <div class="row center-align">
                <a href="{{ url_for('add_team') }}" class="waves-effect green waves-light btn-large tooltipped" data-position="top" data-tooltip="Add Team">
                    <i class="fas fa-plus-circle prefix"></i>
                </a>
            </div>
        {% endif %}
        <div class="col s12 m6 offset-m3">
            {% for team in teams %}
            <div class="card yellow-text blue-grey darken-4 team-card">
                <div class="card-title center-align">
                    <h4>{{ team.team_name }}</h4>
                    <h5>{{ team.team_region }}</h5>
                </div>
                <div class="card-content center-align">
                  <p>{{ team.team_description }}</p>
                  <div class="form-wrapper">
                    <a href="{{ url_for('edit_team', team_id=team._id) }}" 
                    class="waves-effect waves-light blue btn tooltipped" data-position="top" data-tooltip="{{ team._id }}">
                        <i class="fas fa-pen-square"></i>
                    </a>
                    <button data-target="" 
                    class="btn waves-effect red waves-light btn tooltipped modal-trigger"
                    data-position="top" data-tooltip="Delete Team">
                        <i class="fas fa-minus-circle"></i>
                    </button>
                  </div>
                </div>
                <div class="card-tabs blue-grey darken-2 yellow-text">
                  <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a href="#tl_{{ team.team_name }}">Team Leader</a></li>
                    <li class="tab"><a href="#instructors_{{ team.team_name }}">Instructors</a></li>
                    <li class="tab"><a href="#students_{{ team.team_name }}">Students</a></li>
                  </ul>
                </div>
                <div class="card-content grey lighten-4">
                    <div id="tl_{{ team.team_name }}">
                        <div class="collection">
                            {% if username.admin == True %}
                                {% for user in team.users %}
                                    {% if user.team_leader == True %}
                                        <a href="{{ url_for('profile', username=session['user'], alias=user.alias) }}" class="collection-item">{{ user.alias }}</a>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for user in team_leader %}
                                    <a href="{{ url_for('profile', username=session['user'], alias=user.alias) }}" class="collection-item">{{ user.alias }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div id="instructors_{{ team.team_name }}">
                        <div class="collection">
                            {% if username.admin == True %}
                                {% for user in team.users %}
                                    {% if user.instructor == True %}
                                        <a href="{{ url_for('profile', username=session['user'], alias=user.alias) }}" class="collection-item">{{ user.alias }}</a>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for instructor in instructors %}
                                    <a href="{{ url_for('profile', username=session['user'], alias=instructor.alias) }}" class="collection-item">{{ instructor.alias }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div id="students_{{ team.team_name }}">
                        <div class="collection">
                            {% if username.admin == True %}
                                {% for user in team.users %}
                                    {% if user.student == True %}
                                        <a href="{{ url_for('profile', username=session['user'], alias=user.alias) }}" class="collection-item">{{ user.alias }}</a>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for student in students %}
                                    <a href="{{ url_for('profile', username=session['user'], alias=student.alias) }}" class="collection-item">{{ student.alias }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
