{% extends "base.html" %}
{% block content %}

    {% for training in trainings %}
        {{ training.team_name }}<br>
        {{ training.training_name }}<br>
        {{ training.training_description }}<br>
        {{ training.training_date }}<br>
    {% endfor %}

  <ul class="collapsible">
        <li>
            <div class="collapsible-header yellow-text blue-grey darken-4"><i class="fas fa-caret-down"></i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header yellow-text blue-grey darken-4"><i class="fas fa-caret-down"></i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header yellow-text blue-grey darken-4"><i class="fas fa-caret-down"></i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
  </ul>

{% endblock %}
