{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">My Trainings</h3>
    {% if username.team_leader == 'on' or is_instructor == True %}
        <div class="row center-align">
            <a href="{{ url_for('add_training') }}" class="waves-effect green waves-light btn-large">
                Add Training <i class="fas fa-plus-circle"></i>
            </a>
        </div>
    {% endif %}
    <ul class="collapsible" data-collapsible="accordion">
    {% for training in trainings %}
        <li>
            <div class="collapsible-header yellow-text blue-grey darken-4">
                <div class="col s6">
                    <i class="fas fa-caret-down"></i>
                    <strong>{{ training.training_name }}</strong>: {{ training.training_date }}
                    {% if training.complete_training == 'True' %}
                        <i class="fas fa-check-circle green-text"></i>
                    {% else %}
                        <i class="fas fa-times-circle red-text"></i>
                    {% endif %}
                </div>
            </div>
            <div class="collapsible-body">
                <!--  controls -->
                <div class="col s12 m6 center-align">
                    {% if username.team_leader == 'on' or is_instructor == True %}
                        <div class="form-wrapper">
                            <a href="{{ url_for('add_cycle', training_id=training._id) }}" 
                            class="waves-effect waves-light green btn tooltipped" data-position="top" data-tooltip="Add Cycle">
                                <i class="fas fa-plus-square"></i>
                            </a>
                            <button data-target="modal_enroll_{{ training.training_name }}" 
                            class="btn waves-effect yellow darken-4 waves-light btn tooltipped modal-trigger"
                            data-position="top" data-tooltip="Enroll Students">
                                <i class="fas fa-user-edit"></i>
                            </button>
                            <button data-target="modal_student_list_{{ training.training_name }}" 
                            class="btn waves-effect deep-purple lighten-2 waves-light btn tooltipped modal-trigger"
                            data-position="top" data-tooltip="Get Student list">
                                <i class="fas fa-clipboard-list"></i>
                            </button>
                            <a href="{{ url_for('edit_training', training_id=training._id) }}" 
                            class="waves-effect waves-light blue btn tooltipped" data-position="top" data-tooltip="Edit Training">
                                <i class="fas fa-pen-square"></i>
                            </a>
                            <button data-target="modal_delete_{{ training.training_name }}" 
                            class="btn waves-effect red waves-light btn tooltipped modal-trigger"
                            data-position="top" data-tooltip="Delete Training">
                                <i class="fas fa-minus-circle"></i>
                            </button>
                        </div>
                        <!-- Delete Modal -->
                        <div id="modal_delete_{{ training.training_name }}" class="modal">
                            <div class="modal-content">
                                <h4>Please confirm:</h4>
                                <p>Are you sure you want to delete this training?</p>
                            </div>
                            <div class="button-wrapper">
                                <a href="{{ url_for('delete_training', training_id=training._id) }}"
                                    class="waves-effect green waves-light btn">
                                    Yes
                                </a>
                                <a href="#"
                                    class="modal-close waves-effect red waves-light btn">
                                    No
                                </a>
                            </div>
                        </div>
                        <!-- Delete cycle Modal -->
                        <div id="modal_delete_cycle_{{ training.training_name }}" class="modal">
                            <div class="modal-content">
                                <h4>Please confirm:</h4>
                                <p>Are you sure you want to delete this cycle?</p>
                            </div>
                            <div class="button-wrapper">
                                <a href="{{ url_for('delete_training', training_id=training._id) }}"
                                    class="waves-effect green waves-light btn">
                                    Yes
                                </a>
                                <a href="#"
                                    class="modal-close waves-effect red waves-light btn">
                                    No
                                </a>
                            </div>
                        </div>
                        <!-- Enrolled Students Modal -->
                        <div id="modal_enroll_{{ training.training_name }}" class="modal">
                            <div class="modal-content">
                              <h4>Enroll Students
                                  <i class="fas fa-user-graduate"></i></h4>
                                <form class="col s12" method="POST" action="{{ url_for('enroll_training', training_id=training._id) }}">
                                    <div class="input-field col s12">
                                        <select id="assign_to" name="assign_to" class="validate" multiple>
                                        <option value="" disabled>
                                            Choose student
                                        </option>
                                        {% for student in students %}
                                            {% if training.training_name not in student.trainings.keys() %}
                                                <option value="{{ student.alias }}">
                                                    {{ student.alias }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                        </select>
                                        <label for="assign_to">Assign training to:</label>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 center-align">
                                            <button class="btn waves-effect waves-light green" type="submit">Enroll
                                                <i class="fas fa-check-circle"></i>
                                            </button>
                                            <a href="#"
                                            class="modal-close waves-effect red waves-light btn">
                                            Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Get student list Modal -->
                        <div id="modal_student_list_{{ training.training_name }}" class="modal">
                            <div class="modal-content">
                                <h4>Student list
                                    <i class="fas fa-clipboard-list"></i>
                                </h4>
                                <div class="row">
                                    <div class="col s12 m6 offset-m3">
                                        <div class="collection">
                                            {% for student in students %}
                                                {% if training.training_name in student.trainings.keys() %}
                                                    <a href="#!" class="collection-item">{{ student.alias }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col s12 center-align">
                                        <a href="#!" class="modal-close waves-effect green waves-light btn">OK</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% if training.training_name not in username.trainings.keys() %}
                            <form method="POST" action="{{ url_for('enroll', training_id=training._id) }}">
                                <button type="submit" class="waves-effect waves-light indigo lighten-2 btn-large tooltipped" data-position="top" data-tooltip="Enroll in this training">
                                    <i class="fas fa-play-circle"></i>
                                </button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
                {% for cycle in training.training_cycle %}
                    <div class="row center-align">
                        <div class="col s12 m6 offset-m3">
                            <div class="card">
                                <div class="card-content blue-grey darken-4">
                                    <div class="yellow-text blue-grey darken-4">
                                        <h5>
                                            {{ cycle }}
                                        </h5>
                                    </div>
                                    <ul class="collection black-text">
                                        <li class="collection-item"><b>Instructor:</b> {{ training.training_cycle[cycle].instructor }}</li>
                                        <li class="collection-item"><b>Team:</b> {{ training.team_name }}</li>
                                        <li class="collection-item"><b>Date:</b> {{ training.training_cycle[cycle].training_date }}</li>
                                        <li class="collection-item"><b>Link:</b> {{ training.training_cycle[cycle].training_link }}</li>
                                        {% if training.training_cycle[cycle].completed == True %}
                                            <li class="collection-item green-text"><b>Completed</b></li>
                                        {% else %}
                                            <li class="collection-item red-text"><b>Pendent</b></li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="card-action blue-grey darken-4">
                                    <div class="form-wrapper">
                                        <!-- Complete cycle button -->
                                        <form method="POST" action="{{ url_for('complete_cycle', training_id=training._id) }}">
                                            <div class="input-field col s12">
                                                <input hidden id="cycle_name_{{ cycle }}" name="cycle_name" value="{{ cycle }}">
                                            </div>
                                            <button type="submit" class="waves-effect waves-light green btn tooltipped" data-position="top" data-tooltip="Mark as Complete">
                                                <i class="fas fa-check-circle"></i>
                                            </button>
                                        </form>
                                        <!-- Incomplete cycle button -->
                                        <form method="POST" action="{{ url_for('incomplete_cycle', training_id=training._id) }}">
                                            <div class="input-field col s12">
                                                <input hidden id="cycle_name_switch{{ cycle }}" name="cycle_name_switch" value="{{ cycle }}">
                                            </div>
                                            <button type="submit" class="waves-effect waves-light yellow darken-3 btn tooltipped" data-position="top" data-tooltip="Mark as Incomplete">
                                                <i class="fas fa-times-circle"></i>
                                            </button>
                                        </form>
                                        <!-- Delete button -->
                                        <form method="POST" action="{{ url_for('incomplete_cycle', training_id=training._id) }}">
                                            <div class="input-field col s12">
                                                <input hidden id="cycle_name_delete_{{ cycle }}" name="cycle_name_switch" value="{{ cycle }}">
                                            </div>
                                            <button data-target="modal_delete_cycle_{{ training.training_name }}"
                                                class="btn waves-effect red waves-light btn tooltipped modal-trigger" data-position="top"
                                                data-tooltip="Delete Cycle">
                                                <i class="fas fa-minus-circle"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </li>
    {% endfor %}
    </ul> 
    
        

{% endblock %}
