{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">My Trainings</h3>
    <div class="row right-align">
        <a href="{{ url_for('add_training') }}"class="waves-effect green waves-light btn-large">
            Add Training <i class="fas fa-plus-circle"></i>
        </a>
    </div>
    <ul class="collapsible">
    {% for training in trainings %}
        <li>
            <div class="collapsible-header yellow-text blue-grey darken-4">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    <a href="{{ url_for('edit_training', training_id=training._id) }}" class="waves-effect waves-light btn-small">Edit</a>
                    <a href="" class="waves-effect red waves-light btn-small">Delete</a>
                </div>
                <div class="col s9">
                    <strong>{{ training.training_name }}</strong>: {{ training.training_date }}
                </div>
            </div>
            <div class="collapsible-body">
                  <div class="row center-align">
                    <div class="col s12 m6">
                        <div class="card yellow-text blue-grey darken-4">
                            <div class="card-content white-text">
                                <span class="card-title">{{ training.team_name }}</span>
                                <span class=""> {{ training.training_type }}</span>
                                <p>{{ training.training_description }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="card yellow-text blue-grey darken-4">
                            <div class="card-content white-text">
                                <span class="card-title">{{ training.instructor }}</span>
                                <p>Instructor</p>
                            </div>
                            <div class="card-action">
                                <p>Training Created by: {{ training.created_by }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
       {% endfor %} 
    </ul>
        

{% endblock %}
